* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
}

body {
    background-color: #030303
}
/* NAVBAR STYLING STARTS HERE */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: black 1px solid;
    background-color: #1A1A1B;
    color:#D7DADC;
    font-size: 4rem;
    padding: 5px;
}


/* Home button styling */
.home-button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 3rem;
}


.logo{
    border-radius: 10%;
    width: 40px;
    height: 40px;
}

/* searchbar styling */
.search-bar-container{
    display: flex;
    border-radius: 1.25em;
    background-color: #272729;
    border: 1px solid transparent;
}

.magnifying-glass-img-container + input:focus {
    outline: none;
}

.search-bar{
    background-color: transparent;
    border: none;
    color: #D7DADC;
    border-radius: 1.25em;
    height: 30px;
    width: 500px;
    
}

.magnifying-glass-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.magnifying-glass-img{
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/* Profile picture and username */
.user-name-picture-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture{
    border-radius: 10%;
    width: 40px;
    height: 40px;
}

/* NAVBAR STYLING ENDS HERE */

/* MAIN GRID STYLING STARTS HERE */

.main-grid-parent-container{
    display: grid;
    justify-content: center;
    width: 100vw;
    color: #D7DADC;
    margin-top: 5px;
    
}

.main-grid-container{
    display: grid;
    width: 1000px;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
    gap: 10px;
}

.center-area, .sidebar{
    padding: 5px;
    background-color: #1A1A1B;
    border-radius: 10px;
}

.center-area{

}

.sidebar{

}